# Docker image
DOCKER_USERNAME=ktshonln
IMAGE_TAG=latest

# App
NODE_ENV=development
PORT=8101

# Database — audit_svc password (set via db deploy workflow)
DB_PASSWORD=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASSWORD=
